@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"), local("Gilroy Light"),
    url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"), local("Gilroy ExtraBold"),
    url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/open-sans-v16-cyrillic_latin-300.woff2") format("woff2"),
    url("../fonts/open-sans-v16-cyrillic_latin-300.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  widthl: 100%;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f7e296;
  color: #000000;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.input-search {
  background-color: transparent;
  border: none;
  font-size: 15px;
  padding-bottom: 4px;
  margin-right: 150px;
}

.input-search::placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}

.input-search:hover::-webkit-input-placeholder,
.input-search:focus::-webkit-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.input-search:focus::-webkit-input-placeholder {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.search-button {
  position: absolute;
  top: -20px;
  left: 250px;
  display: none;
  font-size: 15px;
  line-height: 2;
  width: 85px;
  min-height: 49px;
  border: 2px solid #000000;
  text-align: center;
  background: transparent;
}

.search-button::after {
  content: "";
  width: 300px;
  height: 2px;
  bottom: -2px;
  right: 0;
  position: absolute;
  background: black;
  opacity: 0;
}

.input-search:focus + .search-button::after {
  opacity: 1;
}

.input-search:focus + .search-button {
  display: inline-block;
  vertical-align: auto;
}

.input-search:focus + .search-form {
  border-bottom: 2px solid black;
}

.search-form {
  position: relative;
  display: flex;
}
.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background: #000000;
}
.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}

.user-menu,
.nav-list,
.footer-menu,
.footer-nav,
.footer-social,
.cities-list {
  list-style: none;
}

.user-list {
  font-size: 15px;
  line-height: 2;
}

.nav-list,
.footer-nav {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.user-menu a,
.nav-list a,
.footer-menu a,
.footer-nav a {
  color: #000000;
}

.user-menu a:hover,
.nav-list a:hover,
.user-menu a:focus,
.nav-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu a:active,
.nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.menu-logout a {
  color: rgba(0, 0, 0, 0.3);
}

.about h2,
.contacts h2,
.slider-slogan {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.5;
  color: #000000;
}

.about h2,
.contacts h2 {
  letter-spacing: 9.5px;
}

.about,
.contacts {
  position: relative;
  font-size: 15px;
  line-height: 2;
}

.cities-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  list-style-image: url("../img/bullet.svg");
}

.button {
  box-sizing: border-box;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  /* line-height: 1.3; */
  letter-spacing: 3.5px;
  text-align: center;
  vertical-align: middle;

  color: #000000;
  background-color: transparent;
  text-transform: uppercase;
  border: none;

  z-index: 5;
  position: relative;
  display: inline-block;
  vertical-align: auto;
  max-width: 250px;
  min-width: 2rem;
  min-height: 2rem;
  padding: 5px 25px;

  word-wrap: break-word;
  margin: 0;
  padding: 10px 15px;

  cursor: pointer;

  transition: all 0.2s ease-in;
}

.button::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 43%;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.1s ease-in-out;
}

.button:hover::before,
.button:focus::before {
  top: 0;
  height: 100%;
  transition: all 0.1s ease-in-out;
}

.button:active {
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}

.map {
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 560px;
  height: 222px;
  margin-bottom: 70px;
}

.footer {
  background: #464646;
  color: #ffffff;
  margin-top: 68px;
}
.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}
.footer-nav a {
  font-size: 18px;
  color: #ffffff;
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-menu a {
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-menu a:hover,
.footer-menu a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-menu .menu-login:hover,
.footer-menu .menu-login:active {
  color: #ffffff;
}

.footer-menu .menu-logout:hover,
.footer-menu .menu-logout:active {
  color: rgba(0, 0, 0, 0.6);
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-phone a,
.footer-social a,
.footer-bottom a {
  color: #ffffff;
}

/* Стили католога */
.user-menu .menu-login {
  /* color: rgba(0, 0, 0, 0.3); */
}
.footer-menu .menu-login {
  color: #ffffff;
}

.breadcrumb-list {
  list-style: none;
}
.breadcrumb-list a {
  font-size: 14px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumb-list a:hover,
.breadcrumb-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumb-list a:active {
  color: rgba(0, 0, 0, 0.1);
}
.main-container h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 1.5;
  color: #000000;
}

.card-caption h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.18px;
  color: #000000;
}
.price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  color: #000000;
}

/* Сетка */

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  /* position: relative; */
}
.header-logo {
  position: absolute;
  width: 164px;
  height: 36px;
  top: 20px;
}

.main-header {
  margin-top: 40px;
  padding: 0 60px;
  padding-bottom: 50px;
}

.row-wrapper {
  display: flex;
  margin-bottom: 45px;
  padding-top: 40px;
}
.search-form {
  padding-left: 35px;
  width: 540px;
}

.header-nav {
  position: relative;
  margin: 0;
  padding: 0;
}

.user-menu {
  padding: 0;
  margin: 0;
  width: 500px;
  display: flex;
}

.menu-item {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 25px;
}

.menu-login {
  margin-right: 215px;
}

.menu-logout {
  padding-left: 0;
  margin-right: 55px;
}

.menu-username {
  padding-left: 27px;
  margin-right: 25px;
  white-space: nowrap;
}

.menu-diff {
  margin-right: 40px;
}

.menu-cart {
  margin-left: 0;
}

.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-list-item {
  position: relative;
  margin: 0;
  padding: 0;
}

.nav-list-item:first-child {
  white-space: nowrap;
  padding-right: 20px;
  margin-right: 330px;
}

.nav-list-item:nth-child(2) {
  margin-right: auto;
}

.nav-list-item:last-child {
  margin-left: 105px;
}
.nav-item:last-child {
  margin: 0;
  padding: 0;
}

.main-columns {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.about,
.contacts {
  margin: 0;
  padding: 0;
  width: 50%;
}

.about {
  padding-left: 0;
  padding-right: 105px;
  margin-bottom: 60px;
}
.contacts {
  padding-left: 20px;
}

.about h2,
.contacts h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.about p {
  margin-bottom: 38px;
}

.about p:nth-child(3) {
  margin-bottom: 0;
}

.about .button,
.contacts .button {
  min-width: 260px;
}

.contacts p {
  margin-bottom: 40px;
}

.cities-list {
  margin: 0;
  padding: 60px 20px;
  padding-bottom: 50px;
}
.cities-list li {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 20px;
}

.footer {
  margin-top: 0;
  padding-bottom: 40px;
  width: 100%;
  padding-right: 0;
  margin-right: 0;
}

.footer-top {
  display: flex;
  align-items: flex-end;
  padding-top: 40px;
}

.footer-menu {
  margin-top: 0;
  padding-left: 0;
  margin-left: auto;
  width: 480px;
  display: flex;
  margin-bottom: 35px;
}

.footer-menu .menu-logout {
  margin-right: 35px;
}

.footer-menu .menu-login {
  margin-left: auto;
  margin-right: 40px;
}

.footer-middle {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.footer-address {
  position: relative;
  width: 260px;
  margin-right: 110px;
}

.footer-nav {
  margin: 0;
  padding: 0;
  width: 440px;
  display: flex;
}

.footer-nav .nav-item {
  margin-right: 32px;
}

.footer-phone {
  margin-left: auto;
}

.footer-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 48px;
}
.footer-social {
  margin: 0;
  padding: 0;
  width: 160px;
  display: flex;
  margin-right: 460px;
}

/* Псевдоэлементы */

.search-form::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  left: 3px;
  background: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.menu-login::before {
  content: "";
  width: 11px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 2px;
  background: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.menu-username::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: -2px;
  background: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer .menu-username::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: -2px;
  background: url("../img/user-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-diff::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  left: 5px;
  background: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: 2px;
  background: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.nav-catalog {
  letter-spacing: 1.8px;
}

.nav-catalog::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 2px;
  right: -18px;
  background: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.footer .menu-cart::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  bottom: 0;
  left: 3px;
  background: url("../img/cart-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.footer .menu-login::before {
  content: "";
  width: 11px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 2px;
  background: url("../img/user-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.footer .menu-diff::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 3px;
  background: url("../img/compare-yellow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.about h2::before,
.contacts h2::before {
  content: "";
  width: 80px;
  height: 7px;
  position: absolute;
  background: black;
  top: -50px;
  left: 3px;
}

.contacts h2::before {
  left: 23px;
}

.social-item {
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 20px;
  opacity: 0.3;
  background-repeat: no-repeat;
}

.social-face {
  background-image: url("../img/fb.svg");
}
.social-twit {
  background-image: url("../img/twitter.svg");
}
.social-inst {
  background-image: url("../img/instagram.svg");
}

.social-item:hover,
.social-item:focus {
  opacity: 0.6;
}

.social-item:active {
  opacity: 0.1;
}

.academy-logo {
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  display: block;
  width: 27px;
  height: 35px;
}

.academy-logo:hover,
.academy-logo:focus {
  opacity: 0.6;
}

.academy-logo:active {
  opacity: 0.3;
}

.footer-address::after {
  content: "";
  width: 80px;
  height: 7px;
  position: absolute;
  background: #ffc600;
  top: 108px;
  left: 2px;
}

.breadcrumb-list li::after {
  content: "";
  top: 12px;
  right: 8px;
  position: absolute;
  background-image: url("../img/nav-arrow.svg");
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.breadcrumb-list li:last-child::after {
  background-image: none;
}

.field-checkbox {
  cursor: pointer;
  position: relative;
  padding-left: 50px;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.check-box::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 26px;
  height: 26px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -40px;
  opacity: 1;
}

.checkbox-input:hover + .check-box::before,
.checkbox-input:focus + .check-box::before {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.6;
}

.checkbox-input:active .check-box::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 1;
}

.checkbox-input:checked + .check-box::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 1;
}
.checkbox-input:hover:checked + .check-box::before,
.checkbox-input:focus:checked + .check-box::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.6;
}

.checkbox-input:checked:active + .check-box::before {
  background-image: url("../img/checkbox-off.svg");
  opacity: 1;
}

.checkbox-input:disabled + .check-box::before,
.checkbox-input:disabled:checked + .check-box::before {
  opacity: 0.25;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-box {
  cursor: pointer;
  position: relative;
}

.radio-box::before {
  top: -2px;
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: -40px;
  opacity: 1;
}
.radio-input:hover + .radio-box::before,
.radio-input:focus + .radio-box::before {
  background-image: url("../img/radio-off.svg");
  opacity: 0.6;
}
.radio-input:active + .radio-box::before {
  background-image: url("../img/radio-on.svg");
  opacity: 1;
}

.radio-input:checked + .radio-box::before {
  background-image: url("../img/radio-on.svg");
}
.radio-input:checked:hover + .radio-box::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.6;
}

.radio-input:checked:hover + .radio-box::before,
.radio-input:checked:focus + .radio-box::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.6;
}
.radio-input:checked:active + .radio-box::before {
  background-image: url("../img/radio-off.svg");
  opacity: 1;
}

.radio-input:hover .radio-box::before,
.radio-input:focus .radio-box::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.6;
}

/* Каталог */

.body-catalog .main-container {
  width: 1160px;
  padding: 0;
  margin: 0;
  padding-left: 60px;
}

.body-catalog .main-container h2 {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.body-catalog h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.body-catalog .main-header {
  margin-bottom: 40px;
}

.breadcrumb-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.breadcrumb-list li {
  position: relative;
  padding-right: 40px;
}

.catalog-wrapper {
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #efefef 50%, #ffffff 50%);
}
.catalog-wrapper-sortbar {
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.08);
}

.filter-header {
  width: 352px;
  background: rgba(0, 0, 0, 0.2);
  line-height: 37px;
  /* padding-top: 10px; */
}

.filter-header h3,
.sort-header h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}
.filter-header h3 {
  padding-left: 63px;
}
.sort-header {
  width: 830px;
  display: flex;
  align-items: center;
  background: transparent;
  margin-left: 60px;
}

.sort-list {
  list-style: none;
}

.sort-item {
  display: inline;
  padding-left: 25px;
}

.sort-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-active a {
  color: #000000;
}

.sort-buttons {
  display: inline-block;
  vertical-align: auto;
  margin-left: auto;
  padding-top: 30px;
}

.paginataion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.08);
  margin-top: -10px;
}

.pagination-button {
  font-family: "Gilroy", sans;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 20px 30px;
}

.pagination-button:hover,
.pagination-button:focus {
  background: #d9d9d9;
}

.pagination-button:active {
  opacity: 0.3;
}

.paginataion-link {
  padding-left: 15px;
  padding-right: 15px;
}

.paginataion-link:hover,
.paginataion-link:focus {
  opacity: 0.6;
}

.paginataion-link-active,
.paginataion-link:active {
  opacity: 1;
}

.paginataion a {
  display: inline-block;
  vertical-align: auto;
  text-transform: uppercase;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
}

.catalog-container {
  width: 1200px;
  /* padding-left: 20px; */
  padding-right: 20px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}

.filter {
  width: 330px;
  background: #efefef;
  position: relative;
  padding-top: 70px;
  padding-left: 60px;
}

.filter::before {
  display: block;
  content: "";
  width: 200vh;
  height: 100%;
  background: #efefef;
  position: absolute;
  top: 0;
  right: 250px;
  transform: translateX(100px);
  z-index: -1;
}

.filter-wrapper {
  width: 270px;
  padding-right: 70px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 200px;
  margin-top: 0;
  /* margin-bottom: 28px; */
}

.filter-sort-list {
  display: flex;
  margin: 0;
  padding-top: 20px;
  padding-left: 0;
}

.sort-list-item {
  cursor: pointer;
  font-family: "Open Sans", Arial, sans-serif;
  list-style: none;
  font-size: 14px;
  margin-right: 32px;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  max-height: 70px;
  background: #dcdcdc;
}
.filter-sort-bar {
  background: #e5e5e5;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.filter-title {
  min-width: 210px;
}

.filter-title,
.filter-sort-title {
  letter-spacing: 1.6px;
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 20px 0;
  margin-left: 120px;
  width: 270px;
}

.filter-sort-title {
  padding-left: 72px;
  margin-left: 0;
}

.filter-sort-buttons {
  margin-left: 195px;
  display: flex;
  align-items: center;
}

.filter-sort-button {
  cursor: pointer;
  width: 0;
  height: 0;
  opacity: 0.2;
}

.filter-sort-button:hover,
.filter-sort-button:focus {
  opacity: 0.4;
}

.filter-sort-button-active,
.filter-sort-button:active {
  opacity: 1;
}

.filter-sort-button-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid black;
}

.filter-sort-button-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid black;
  margin-left: 25px;
}

.range-controls {
  position: relative;
  height: 25px;
  padding-top: 10px;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #91c92f;
}

.range-controls .scale {
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid #ffffff;
  background-color: #c4c4c4;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.toggle::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #c4c4c4;
  position: absolute;
  top: -2px;
  left: -2px;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 70px;
  margin-left: 0;
  text-align: left;
  border: none;
  background-color: transparent;
}

.filter-bluetooth {
  margin-top: 0;
}

.filter-form {
  margin: 0;
}

.filter fieldset {
  display: block;
  border: none;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.filter .filter-color {
  margin-bottom: 25px;
}

.filter legend {
  display: block;
  width: 100%;
  border-top: 2px solid black;
  margin-bottom: 20px;
  padding-top: 10px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.filter-item legend {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.field-checkbox,
.field-radio {
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 40px;
  padding-top: 0;
  padding-bottom: 9px;
}

.filter button {
  width: 100%;
  background: #efefef;
  margin-left: auto;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #ffffff;
  padding-left: 72px;
  padding-top: 70px;
  width: 830px;
  padding-bottom: 75px;
}

.card {
  position: relative;
  width: 360px;
  margin-bottom: 40px;
  overflow: hidden;
}

.card-new::after {
  content: "NEW";
  position: absolute;
  width: 60px;
  height: 60px;

  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;

  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  top: 26px;
  right: 26px;
}

.card-img {
  margin-bottom: 20px;
}

.card-overlay {
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 380px;
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-150px);
  opacity: 0;
}

.card-img:hover > .card-overlay {
  display: flex;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.overlay-diff {
  background: transparent;
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  cursor: pointer;
}

.card-caption {
  width: 360px;
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.card-caption h3 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.8px;
}

.card-caption .price {
  text-align: right;
  min-width: 90px;
  letter-spacing: 0.8px;
}

/* модальные окна */

.modal-close {
  display: none;
  opacity: 0;
  transform: translateY(-150px);
}
.modal-input {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
}
.modal-input input {
  border: none;
}

.modal-input input::placeholder,
.input-texarea textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
  background-color: rgba(242, 242, 242, 0.5);
  color: rgba(70, 70, 70, 0.4);
  border: none;
}
.input-texarea textarea::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal {
  background: white;
  position: fixed;
  width: 960px;
  top: 200px;
  left: 50%;
  margin-left: -480px;
  z-index: 995;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  transition: all 0.4s ease-out;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.modal-map {
  height: 560px;
}

.button-close {
  z-index: 999;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 0px;
  border: none;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.button-close:hover,
.button-close:focus {
  opacity: 1;
}
.button-close:active {
  opacity: 0.3;
}

.modal-writeus-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-writeus-wrapper {
  padding: 75px 100px;
}

.modal-input-item {
  width: 360px;
}

.modal-input-item input,
.modal-input-item textarea {
  background-color: rgba(242, 242, 242, 0.5);
  display: block;
  padding: 20px;
  font-size: 14px;
  width: 100%;
}

.modal-input-item input::placeholder {
  background-color: transparent;
}

.modal-input-item input:focus::placeholder {
  color: #464646;
}

.input-texarea {
  width: 100%;
}

.modal-input-item textarea {
  padding-top: 15px;
  width: 100%;
}

.modal-writeus .button {
  margin-top: 25px;
  padding: 0 33px;
}

.modal-input-item:hover input {
  background-color: rgba(242, 242, 242, 0.8);
  box-sizing: border-box;
}

.modal-input-item:hover textarea {
  background-color: rgba(242, 242, 242, 0.8);
  box-sizing: border-box;
}

.modal-input-item input:focus {
  background: white;
  outline: 3px solid #f0c52e;
}

.modal-input-item textarea:focus {
  background: white;
  outline: 3px solid #f0c52e;
  color: #464646;
}
.modal-input-item textarea:focus::placeholder {
  color: #464646;
}

.modal-input-item input:invalid:not(:focus) {
  background: rgba(237, 181, 181, 0.5);
}

/* слайдер */

.slider:before {
  content: "";
  width: 100%;
  height: 110px;
  background: #f7e296;
  display: block;
}

.slider-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 110px;
}
.slider-item {
  display: flex;
}

.slider-item .button {
  width: 220px;
  margin-right: 163px;
}

.slider-column {
  width: 50%;
  padding-left: 20px;
  /* padding-right: 80px; */
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.slider-img {
  position: absolute;
  top: -110px;
  left: 90px;
}

.slider-slogan {
  margin: 0;
  position: relative;
  margin-top: -30px;
  margin-bottom: 30px;
  line-height: 1.2;
  z-index: 99;
}

.slider-description {
  margin: 0;
  margin-bottom: 42px;
  max-width: 470px;
  line-height: 1.2;
}

.slider-slogan::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  background: white;
  top: -65px;
  left: 0;
}

.slider-slogan::after {
  position: absolute;
  color: white;
  font-size: 179px;
  content: "01";
  top: -110px;
  left: 300px;
  letter-spacing: 0.36px;
  z-index: -1;
}

.slider-slogan[data-slide="3"]::after {
  content: "03";
}

.slider-img[data-slideimage="3"] {
  top: -42px;
  left: 35px;
}

.slider-buttons {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.slider-button {
  border: none;
  width: 12px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/slider-button-empty.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: 18px;
  cursor: pointer;
}

.slider-button-active {
  background-image: url("../img/slider-button.svg");
}

.features-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  width: 440px;
  /* justify-content: space-between; */
}

.feature {
  min-width: 120px;
  margin-right: 10px;
}

.feature:nth-child(2) {
  margin-left: 20px;
}

.feature span {
  display: block;
  font-size: 36px;
  line-height: 1;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 3.6px;
  padding: 0;
  margin-bottom: 10px;
}

.popular-item a {
  display: block;
  cursor: pointer;
  color: black;
}

.popular-wrapper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin-bottom: 170px;
}

.popular-item {
  width: 160px;
}

.popular-icon {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.55);
  margin-bottom: 35px;
}

.popular-item a:hover > .popular-icon,
.popular-item a:focus > .popular-icon {
  background-color: rgba(240, 197, 46, 1);
}
/* programirovanie: sdelatt sait krasivo */
.popular-item a:active > .popular-icon svg,
.popular-item a:active > span {
  opacity: 0.3;
}

.icon-vr {
  position: absolute;
  top: 54px;
  left: 31px;
}
.icon-monopod {
  position: absolute;
  top: 28px;
  left: 38px;
}
.icon-actioncam {
  position: absolute;
  top: 40px;
  left: 50px;
}
.icon-fitnesband {
  position: absolute;
  top: 50px;
  left: 28px;
}
.icon-smartwatch {
  position: absolute;
  top: 34px;
  left: 55px;
}
.icon-quadrocopter {
  position: absolute;
  top: 50px;
  left: 14px;
}

.img-monopod {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 95%;
}
.img-monopod:hover,
.img-monopod:focus {
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 95%;
}
.img-monopod:active {
  background-image: url("../img/popular-1.svg");
  background-position: 50% 95%;
}

.img-actioncam {
  background-image: url("../img/popular-3.svg");
}

.img-actioncam:hover,
.img-actioncam:focus {
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.img-fitnesband {
  background-image: url("../img/popular-4.svg");
}

.img-fitnesband:hover,
.img-fitnesband:focus {
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.img-watch {
  background-image: url("../img/popular-5.svg");
}

.img-watch:hover,
.img-watch:focus {
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.img-quadrocop {
  background-image: url("../img/popular-6.svg");
}
.img-quadrocop:hover,
.img-quadrocop:focus {
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popular-item span {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  line-height: 1;
}

/* Доствка */

.services {
  position: relative;
  background: #e5e5e5;
  padding-bottom: 75px;
  width: 100%;
}

.services-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.services-menu-list {
  width: 284px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 7px solid black;
  margin-top: -100px;
  padding-top: 80px;
  padding-bottom: 53px;
}

.services-menu-list .button {
  vertical-align: center;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 0;
  min-width: 160px;
}
.services-menu-list .services-active {
  min-width: 100%;
  background: black;
  color: white;
  margin-bottom: 20px;

  text-align: left;
  padding-left: 20px;
}
.services-active::before {
  display: none;
}
.servise-item {
  display: flex;
  flex-wrap: nowrap;
}
.service-hide {
  display: none;
}

.services-text {
  margin-top: -72px;
  padding-left: 115px;
}

.services-text p {
  width: 540px;
  line-height: 28px;
  letter-spacing: 1.5px;
}
.services-text h3 {
  font-size: 47px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 9.7px;
  margin-top: 50px;
  margin-bottom: 45px;
}
.delivery-img {
  background-image: url(../img/postman.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 139px;
  height: 165px;
  margin-top: -28px;
  margin-left: 85px;
}
.warranty-img {
  background-image: url(../img/warranty.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 172px;
  height: 194px;
  margin-top: -28px;
  margin-left: 85px;
}
.credit-img {
  background-image: url(../img/credit.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 157px;
  height: 186px;
  margin-top: -28px;
  margin-left: 85px;
}
.partners-logos {
  margin-top: 90px;
  margin-bottom: 140px;
}

.partners-logos-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners-logos-list {
  list-style: none;
}

.logo-item {
  width: 260px;
  height: 100px;
}

.logo-dji {
  background-image: url("../img/bw-logo-1.png");
  transition: all 0.2s ease-in-out;
}
.logo-dji:hover,
.logo-dji:focus {
  background-image: url("../img/sp-logo-1.png");
  transition: all 0.2s ease-in-out;
}

.logo-spg {
  background-image: url("../img/bw-logo-2.png");
}
.logo-spg:hover,
.logo-spg:focus {
  background-image: url("../img/sp-logo-2.png");
  transition: all 0.2s ease-in-out;
}

.logo-gopro {
  background-image: url("../img/bw-logo-3.png");
}
.logo-gopro:hover,
.logo-gopro:focus {
  background-image: url("../img/sp-logo-3.png");
  transition: all 0.2s ease-in-out;
}

.logo-vive {
  background-image: url("../img/bw-logo-4.png");
}
.logo-vive:hover,
.logo-vive:focus {
  background-image: url("../img/sp-logo-4.png");
  transition: all 0.2s ease-in-out;
}

.nav-catalog-dropdown {
  width: 1160px;
  padding: 25px;
  position: absolute;
  top: 175px;
  background: #f7e296;
  z-index: 999;
}

.nav-catalog-list {
  margin: 0;
  padding-left: 35px;
  /* padding-top: 30px; */
  height: 115px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.catalog-item {
  min-width: 132px;
  margin-right: 65px;
  padding: 0;
  margin-bottom: 6px;
}

.catalog-item:last-child {
  height: 100%;
}

.catalog-item a {
  font-style: 15px;
  line-height: 2;
  color: black;
}

.catalog-item:hover a,
.catalog-item:focus a {
  opacity: 0.6;
}

.catalog-item:active a {
  opacity: 0.3;
}
